In [4]:
import pandas as pd

data = pd.read_csv('/Users/cosmos/Documents/AIML Dataset.csv')

In [14]:
data.head(1)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0

In [13]:
data['isFlaggedFraud'].unique()

array([0, 1])